body {
background-color: #a18cff;
}

* {
  margin: 0;
  padding: 0;
}

.noticia
{
  background-color: #a18cff;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}