* {
  margin: 0;
  padding: 0;
  background-color: #cac9ff;
}

.noticia
{
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cac9ff;
}